.test5 {}

.category-navigation__item, .product__name, .basket__title, .product__description, .product__add{
font-family: 'Montserrat', sans-serif !important;
}

.category-navigation__item {
font-size: 12px;
text-transform: uppercase;
}
