.test5 {}

.category-navigation__item, .product__name, .basket__title, .product__description, .product__add{
font-family: 'Montserrat', sans-serif !important;
}

.category-navigation__item {
font-family: 'Montserrat', sans-serif !important;
font-size: 12px;
text-transform: uppercase;
}

.product__add{
font-family: 'Montserrat', sans-serif !important;
font-size: 10px;
text-transform: uppercase;
padding: 1px 30px;
font-weight: 100;
}

.product__name{
font-family: 'Montserrat', sans-serif !important;
font-size: 11px;
text-transform: uppercase;
font-weight: 100;
color:#2b353f;
}
